.chicago-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: auto auto auto auto ;  
    place-items: center;
    background-color:#495e57;
  }
  
  .chicago-container h1 {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    color: #F4CE14;
    font-size: 3rem;
    text-align:right ;
  }
  
  .chicago-container h2 {
    grid-column: 2;
    grid-row: 2;
    color:#edefee;
    font-size:1.5rem;
    text-align:top;
  }
  
  .chicago-container p {
    display: grid;
    grid-column: 3;
    grid-row:3;
    color: #edefee;
    background-color: #495e57;
    text-align: top left;
    font-size: 1.75rem;
  }
  
  .chicago-container img {
    grid-column: 4;
    grid-row: 3 ;
    justify-self: center;
    height: 30ch;
    width: 25ch;
    border-radius: 16px;
    align-self: center;
  }
  
  .chicago-container button {
    grid-column: 4;
    grid-row:4;
    font-size: large;
    font-weight: bold;
    background-color: #F4CE14;
    color:#495e57;
    border-radius: 10px;
    size:larger;
  }
  
