.chicago-container {
  display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
   grid-template-rows: auto auto auto auto ;  
   place-items: center;
   background-color:#495e57;
 
}

.title {
 display: grid;
 grid-column: 1;
 grid-row: 1;
 color: #F4CE14;
 font-size: 5rem;
 align-self:end ;
}


.sub-title {
 grid-column:2;
 grid-row: 2;
 color:#edefee;
 font-size:medium ;
 align-content: center;
 font-weight: bolder;
}

.item-description {
 display: grid;
 grid-column: 1;
 grid-row:3;
 color: #edefee;
 background-color: #495e57;
 text-align: center;
 font-size: large;
 font-weight:bold;
}

.item-image {
 grid-column: 3/-1;
 grid-row: 3 ;
 justify-self: center;
 height: 20vh;
 width: 12vw;
 border-radius: 16px;
 align-self: center;
 
}


.logo2 {
  grid-column: 3;
  grid-row: 1;
  justify-self: left;
  align-self: left;
  height:5ch;
  width:5ch;
  border: solid #edefee;

  
 }
.item-button {
 grid-column: 1;
 grid-row:3;
 font-size: large;
 font-weight: bold;
 background-color: #F4CE14;
 color:#495e57;
 border-radius: 10px;
 size:larger;
}
