
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto auto auto auto;
 
}

.App {
  display: grid;
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  place-content: space-evenly;
}

@media screen and (max-width: 767px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto auto auto auto auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto auto auto auto;
  }

  .column {
    width: 50%;
  }
}
