.homepage-container {
  display: grid;
  grid-template-areas:
    " chicago chicago"
    "specials specials"
    "reviews reviews";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 20px;
    color: #F4CE14;
    overflow: auto;
}

.component1 {
  grid-area: chicago;
}

.component2 {
  grid-area: specials;
}

.component3 {
  grid-area: reviews;
}


@media screen and (min-width: 768px) {
  .homepage-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .homepage-container {
    grid-template-columns: repeat(5, 1fr);
  }
}






/* styles for smallest screens */
@media (max-width: 375px) {
  .navbar {
    flex-wrap: wrap;
  }

  .logo {
    order: 2;
    width: 100%;
  }

  .menu-toggle {
    order: 1;
    margin-bottom: 10px;
  }

  .menu {
    order: 3;
    width: 100%;
    display: none;
  }

  .menu.open {
    display: block;
  }

  .menu li {
    display: block;
    margin: 10px 0;
  }
}