.homepage-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-gap: 20px;
  color: #F4CE14;
  overflow: auto; /* add this line */
}

@media screen and (min-width: 768px) {
  .homepage-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .homepage-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* styles for smallest screens */
@media (max-width: 375px) {
  .navbar {
    flex-wrap: wrap;
  }

  .logo {
    order: 2;
    width: 100%;
  }

  .menu-toggle {
    order: 1;
    margin-bottom: 10px;
  }

  .menu {
    order: 3;
    width: 100%;
    display: none;
  }

  .menu.open {
    display: block;
  }

  .menu li {
    display: block;
    margin: 10px 0;
  }
}